
/*
START LICENSE AND COPYRIGHT

 This file is part of translate5
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

body{box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;cursor:text;font-size:10px;}
body.ergonomic {font-size:19pt !important; line-height: 37px !important;}
body.ergonomic img{height: 26px !important;}
body.hide-tag img{display:none;}
img {width: auto !important;height: 14px !important; vertical-align:middle;cursor: pointer;}
img.duplicatesavecheck {width:0 !important;height:0 !important;display:none;}
span.term {background:transparent;border-bottom:1px solid #0000ff;}
span.source-transNotFound {border-bottom-color:#ff0000;}
span.source-transNotDefined {border-bottom-color:#8F4C36;}
span.notRecommended,
span.supersededTerm,
span.deprecatedTerm {border-bottom:none;background-color:#fa51ff;}
body.fakedsel strong, body.fakedsel b {font-weight:normal;background:#b0b0b0;}