
/*
START LICENSE AND COPYRIGHT

 This file is part of translate5
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

#changealike-grid .x-grid-row .segment-tag-column .x-grid-cell-inner,
#segment-grid .x-grid-row .x-grid-cell .x-grid-cell-inner {
  white-space: normal;
}

/* this default width is needed, see TRANSLATE-563 */
#changealike-grid .x-grid-row .segment-tag-column .x-grid-cell-inner,
#segment-grid .x-grid-row .segment-tag-column .x-grid-cell-inner {
  width: 250px;
}

#segment-grid .editing-disabled {
  color:#acacac;
}

.segment-tag-column div.term,
.segment-tag-container div.term {display:inline;}

.segment-tag-column div.x-grid-cell-inner div.open,
.segment-tag-column div.x-grid-cell-inner div.close,
.segment-tag-column div.x-grid-cell-inner div.single,
.segment-tag-container.x-form-display-field div.open,
.segment-tag-container.x-form-display-field div.close,
.segment-tag-container.x-form-display-field div.single,
.segment-tag-container .x-autocontainer-innerCt div.open,
.segment-tag-container .x-autocontainer-innerCt div.close,
.segment-tag-container .x-autocontainer-innerCt div.single {display:inline;background:#39FFA3;}

/* force showing the column header drop down arrow */
.x-column-header-trigger {
	display:block;
    width: 14px;
    cursor: pointer;
    background: transparent url(../../../ext-6.0.0/build/classic/theme-classic/resources/images/grid/grid3-hd-btn.gif) no-repeat 0 center;
    z-index:10; /* EXT6UPD-106 */
}


#segment-grid div.x-grid-cell-inner div.open span {} /* Grafik Style für open Tag*/
#segment-grid div.x-grid-cell-inner div.close span {} /* Grafik Style für close Tag*/
#segment-grid div.x-grid-cell-inner div.single span {} /* Grafik Style für single Tag*/

.short-tag div span.full,
.full-tag div span.short,
.hide-tag div span.short,
.hide-tag div span.full{display:none;}

#segment-grid span.term {
    text-decoration: underline;
}

#segment-grid .x-grid-row .x-grid-cell, 
#segment-grid .x-grid-row-editor .x-form-display-field {
  font-size:9pt !important;
  line-height:14px;
}

#segment-grid .x-grid-row-editor .x-form-display-field {
    text-overflow: initial;
    white-space: normal;
    overflow: visible;
    cursor: move;
}

.x-grid-row-editor {
    box-shadow: -6px 0px 25px 0px rgba(0,0,0,0.75);
}

#segment-grid .x-grid-cell-inner {
  padding-top:6px;
  padding-bottom:6px;
}

.clearSortAndFilterBtn.activated span.x-btn-inner {
  font-weight: bold;
  font-style: italic;
}

.watchListFilterBtn.activated span.x-btn-inner {
  font-weight: bold;
  font-style: italic;
}

#segment-grid img.icon-editable {
  background: url("../images/pencil.png") no-repeat center;
  height:16px;
  width:16px;
  vertical-align: text-bottom;
}

#segment-grid .x-grid-row-editor .x-panel-body {
  background: #dfe8f6;
}
/*odd rows in leichtem blau anstatt in sehr leichtem grau*/
.x-grid-row-alt .x-grid-cell, .x-grid-row-alt .x-grid-rowwrap-div {
  background-color:#eaf1fb;
}
#imagePreload {
    display: none
}

.editable .x-form-display-field {
	float:none;
	padding-left:0;
}
#viewportHeader {
    border-style: none;
}

#change-alike-window img.x-tool-help {
	vertical-align:top;
}
#change-alike-window p.changealike-info-text{
	font-weight:bold;
	font-size: smaller;
	margin-top:10px;
}
.x-window-body h1,.x-window-body p{
    margin-bottom: 7px;
}

/* Headpanel - this styles are meant to be overwritten by the customer */
#head-panel {height: 150px;position:relative;}/* possible to overwrite bg => whole container */
#head-panel .head-panel-brand {} /* box for html branding */
#head-panel .head-panel-info-panel {position:absolute;right:20px !important;top:20px !important; left: auto !important; width: auto !important; }
#head-panel .x-autocontainer-outerCt {table-layout: auto !important}
#head-panel .head-panel-toolbar {position:absolute;right:20px !important;bottom:20px !important;width:440px; left: auto !important; top: 40px !important;}

.head-panel-info-panel span.user-label,
.head-panel-info-panel span.login-label,
.head-panel-info-panel span.task-label {font-style: italic; font-weight: bold;}
.head-panel-info-panel span.task-readonly {font-style: italic;}
/* END - Headpanel */

/*Terminologie:*/
.metaTermPanel .term-group {padding:2px 0px; text-align:left;vertical-align: top;}
.metaTermPanel .term-group > div {padding: 2px 1px;}
.metaTermPanel .term-group > div.target-terms {padding-left: 14px;}
.metaTermPanel .target-terms {border-top:1px dotted #BFC2C2;}

.x-form-cb-label-after {white-space: normal;}

.metaTermPanel .even {background-color:#eaf1fb;border-top:1px solid #99bce8;border-bottom:1px solid #99bce8;}
.metaTermPanel img {vertical-align: top;margin-right:2px;}
.metaTermPanel span.used {font-weight:bold;}

/* Term Tags, der folgende Code ist im HtmlEditor body css redundant vorhanden. Ebenso im Helper View_Helper_WorkflowNotifyHtmlMailSegmentList */
.segment-tag-column div.x-grid-cell-inner div.term,
.segment-tag-container div.term {background:transparent;border-bottom:1px solid #0000ff;}

#change-alike-window div.transNotFound,
.segment-tag-column.type-source div.x-grid-cell-inner div.transNotFound,
.segment-tag-container.type-source div.transNotFound {border-bottom-color:#ff0000;}

#change-alike-window div.transNotDefined,
.segment-tag-column.type-source div.x-grid-cell-inner div.transNotDefined,
.segment-tag-container.type-source div.transNotDefined {border-bottom-color:#8F4C36;}

.segment-tag-column div.x-grid-cell-inner div.notRecommended,
.segment-tag-container div.notRecommended,
.segment-tag-column div.x-grid-cell-inner div.supersededTerm,
.segment-tag-container div.supersededTerm,
.segment-tag-column div.x-grid-cell-inner div.deprecatedTerm,
.segment-tag-container div.deprecatedTerm
{border-bottom:none;background-color:#fa51ff;}

/*qmflags*/
#segment-grid-body img {width: auto !important;height: 14px !important; vertical-align:middle;margin-left:1px;margin-right:1px;}
.qmflag-menu .x-menu-item-link {padding-right:2px; padding-left:22px;margin-right:36px;}
.qmflag-menu .x-menu-item-link .x-menu-item-text {padding: 0px !important; margin: 0px 17px 0px 0px !important; width: auto !important; height: auto !important}
.qmflag-menu .x-menu-item-icon {right:2px;left:auto;height:14px;width: 22px !important}
.qmflag-menu .x-menu-icon-separator {right:34px;left:auto;}

.qmflag-menu .x-menu-item-arrow {
    background-image: url("../images/qmmenu-parent.gif");
    right: auto;
    left:0;
}

/* Fix for TRANSLATE-237 recheck on ExtJS update */
/*.x-tip .x-tip-body {white-space: nowrap;}*/
 /* END Fix for TRANSLATE-237 recheck on ExtJS update */

/*qmsummary*/
.x-tree-view .x-grid-item:nth-of-type(odd) .x-grid-cell {
background-color: #EAF1FB;
}
.x-tree-view .x-grid-item .x-grid-cell-inner {
    padding-right: 19px;
}
.x-tree-view .x-column-header-align-right .x-column-header-text {
    padding-right: 7px;
}

/*messagebox*/
.app-msg .x-icon-text {padding-left:20px;background:no-repeat left center;} 
.app-msg .icon-status-error {background-image: url("../images/exclamation.png");}
.app-msg .icon-status-warning {background-image: url("../images/error.png");}
.app-msg .icon-status-notice {background-image: url("../images/information.png");}
.app-msg .icon-status-ok {background-image: url("../images/tick.png");}

/* filetree */
.fileTree .x-grid-item-selected .x-grid-cell, .x-grid-item-selected .x-grid-rowwrap-div {
    background-color: #99bce8 !important;
}

/*comments column*/
#segment-grid .x-grid-row .comments-field .x-grid-cell-inner {
  white-space: normal;
  width: 200px;
}
#segment-grid .x-grid-row-editor img.add,
#segment-grid .x-grid-row-editor img.edit,
#segment-grid .comments-field .x-grid-cell-inner img {
    display:none;
}
#segment-grid .x-grid-row-editor .x-btn {float:right;}
#segment-grid .x-grid-item-selected .comments-field .x-grid-cell-inner img.add,
#segment-grid .x-grid-item-selected .comments-field .x-grid-cell-inner img.edit {
    background: url("../images/comment_edit.png") no-repeat center;
    cursor: pointer;
    float:right;
    height:20px !important;
    width:20px !important;
    padding:0;
    display:block;
}
#segment-grid .x-grid-item-selected .comments-field .x-grid-cell-inner img.add {
    background-image: url("../images/comment_add.png");
}
#segment-grid .x-grid-item-selected .editing-disabled .comments-field img.edit,
#segment-grid .x-grid-item-selected .editing-disabled .comments-field img.add {
    display:none;
}
#segment-grid.comments-for-locked-segments .x-grid-item-selected .editing-disabled .comments-field img.edit,
#segment-grid.comments-for-locked-segments .x-grid-item-selected .editing-disabled .comments-field img.add {
    display:block;
}

.comments-grid .x-action-col-cell img {height:16px;width:16px;cursor: pointer;}
.ico-comment-add {background-image: url("../images/comment_add.png");}
.ico-comment-edit {background-image: url("../images/comment_edit.png");}
.ico-comment-delete {background-image: url("../images/comment_delete.png");}
.comments-grid .readonly .x-action-col-cell img {display:none;}

.comment {margin-bottom:5px;}
#segment-grid .comment {margin-bottom:0px; padding-right: 16px;}
#segment-grid .comment .ellipsis {font-size:7pt;line-hight:3pt;display:block;line-height:10pt;}

#segment-grid .editor-comment-display .x-form-item-body {
    display: block;
}

.comment .content,
.comments-grid .comment .modified,
.comments-grid .comment .content {white-space: normal;display:block;}
.comment .author, .comment .created, .comment .modified {font-size: 7pt; font-style: italic;line-height:10pt;}

#segment-grid.ergonomic .x-grid-row .x-grid-cell.comments-field {font-size:14pt !important;}

body.mode-view #segment-grid .x-grid-item-selected .comments-field .x-grid-cell-inner img.add, 
body.mode-view #segment-grid .x-grid-item-selected .comments-field .x-grid-cell-inner img.edit {display:none;}

.autoState-999,
.ico-loading {background-image: url("../images/loading_ico.gif");}
.autoState-999 {background-position: center;background-repeat: no-repeat;}
.ico-refresh {background-image: url("../images/arrow_refresh_small.png");}
body.loading {background: url("../images/loading_ico.gif") center 100px no-repeat;}

/* Admin: */
.ico-save {background-image: url("../images/tick.png");}
.ico-error {background-image: url("../images/exclamation.png");}
.ico-cancel {background-image: url("../images/cross.png");}
.ico-task-add {background-image: url("../images/page_add.png");}
.ico-user-add {background-image: url("../images/user_add.png");}
.ico-user-del {background-image: url("../images/user_delete.png");}
.ico-add {background-image: url("../images/table_row_insert.png");}
.ico-del {background-image: url("../images/table_row_delete.png");}
.ico-task-back {background-image: url("../images/table_back.png");}
.adminTaskGrid tr.openable td.taskNr div {text-decoration: underline;cursor: pointer !important;}
.adminTaskGrid .locked td.state div {padding-left:20px;background:url(../images/information.png) no-repeat left top;}
.adminTaskGrid tr.x-grid-row-over td.task-users,
.adminTaskGrid tr.x-grid-row-focused td.task-users > div {background-image:url(../images/information.png); background-repeat:no-repeat; background-position:18px center;}
.adminTaskGrid .x-grid-header-ct .task-users > div {background:url("../images/group.png") no-repeat 6px 5px;}
.adminTaskGrid .x-grid-header-ct .ref-files > div {background:url("../images/page_attach.png") no-repeat 6px 5px;}
/* Alternative Grafiken: lightbulb, report-magnify, book-open ??? */
.adminTaskGrid .x-grid-header-ct .terminologie > div {background:url("../images/book_find.png") no-repeat 6px 5px;}
.adminTaskGrid .x-grid-header-ct .fullMatchEdit > div {background:url("../images/fullMatchEdit.png") no-repeat 6px 5px;}
.adminTaskGrid .x-grid-header-ct .lockLocked > div {background:url("../images/lock_edit.png") no-repeat 6px 5px;}
.adminTaskGrid .x-grid-header-ct .source-edit > div {background:url("../images/sourceEdit.png") no-repeat 6px 5px;}
.adminTaskGrid .x-grid-header-ct .relais-lang > div {background:url("../images/relaisLanguage.png") no-repeat 6px 5px;}
.adminTaskGrid .x-grid-header-ct .source-lang > div {background:url("../images/sourceLanguage.png") no-repeat 6px 5px;}
.adminTaskGrid .x-grid-header-ct .target-lang > div {background:url("../images/targetLanguage.png") no-repeat 6px 5px;}

.adminTaskGrid .x-grid-header-ct .fullMatchEdit.ux-filtered-column span,
.adminTaskGrid .x-grid-header-ct .terminologie.ux-filtered-column span,
.adminTaskGrid .x-grid-header-ct .ref-files.ux-filtered-column span,
.adminTaskGrid .x-grid-header-ct .task-users.ux-filtered-column span {background:url("../images/funnel-small.png") no-repeat 12px 0px;}
.adminTaskGrid .x-grid-header-ct .source-edit.ux-filtered-column span {background:url("../images/funnel-small.png") no-repeat 22px 0px;}
.adminTaskGrid .x-grid-header-ct .relais-lang.ux-filtered-column span,
.adminTaskGrid .x-grid-header-ct .target-lang.ux-filtered-column span,
.adminTaskGrid .x-grid-header-ct .source-lang.ux-filtered-column span {background:url("../images/funnel-small.png") no-repeat 33px 0px;}

.adminTaskGrid .x-grid-header-ct .task-users span.x-column-header-text-inner,
.adminTaskGrid .x-grid-header-ct .ref-files span.x-column-header-text-inner,
.adminTaskGrid .x-grid-header-ct .terminologie span.x-column-header-text-inner,
.adminTaskGrid .x-grid-header-ct .fullMatchEdit span.x-column-header-text-inner,
.adminTaskGrid .x-grid-header-ct .lockLocked span.x-column-header-text-inner,
.adminTaskGrid .x-grid-header-ct .source-edit span.x-column-header-text-inner,
.adminTaskGrid .x-grid-header-ct .source-lang span.x-column-header-text-inner,
.adminTaskGrid .x-grid-header-ct .target-lang span.x-column-header-text-inner,
.adminTaskGrid .x-grid-header-ct .relais-lang span.x-column-header-text-inner{
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

table.task-users td {padding-right:10px;white-space: nowrap;}
table.task-users td.username, 
table.task-users td.state {font-weight:bold;}
table.task-users td.state {padding-right:0;}

/*own check column*/
.grid-ownchecker {
    background-color: transparent;
    height: 14px;
}
.grid-ownchecker-checked {
    background-image: url("../images/tick-grey.png");
    background-position: 2px -2px;
    background-repeat: no-repeat;
}

/* Task Grid State Styles */
tr.end td div,
tr.pending td div,
tr.finished td div {color:#acacac;}
tr.end td div.x-grid-checkheader,
tr.finished td div.x-grid-checkheader {opacity:0.3;display: block;overflow: hidden;text-indent: 100%;white-space: nowrap;}
tr.end td div {text-decoration: line-through;}
tr.no-users td div {color:#ff0000;}
tr.import td div {color:#ff9900;}
tr.customeState td div {font-style: italic;}

/* Task Grid Actions */
.adminTaskGrid tr .x-action-col-icon,
.adminTaskGrid tr.customeState td .x-action-col-icon,
.adminTaskGrid tr.import td .x-action-col-icon {display:none;}
.adminTaskGrid tr.editorOpenTask .ico-task-open {background-image: url("../images/page_view.png");display:inline-block;}
.adminTaskGrid tr.editorEditTask .ico-task-edit {background-image: url("../images/page_edit.png");display:inline-block;}
.x-menu .ico-task-finish,
.adminTaskGrid tr.editorFinishTask .ico-task-finish {background-image: url("../images/tick.png");display:inline-block;}
.adminTaskGrid tr.editorUnfinishTask .ico-task-unfinish {background-image: url("../images/tick_back.png");display:inline-block;}
.adminTaskGrid tr.editorFinishAllTask .ico-task-finish-all {background-image: url("../images/group_tick.png");display:inline-block;}
.adminTaskGrid tr.editorUnfinishAllTask .ico-task-unfinish-all {background-image: url("../images/group_tick_back.png");display:inline-block;}
.x-menu .ico-task-end,
.adminTaskGrid tr.editorEndTask .ico-task-end {background-image: url("../images/control_stop.png");display:inline-block;}
.adminTaskGrid tr.editorChangeUserAssocTask .ico-task-change-user-assoc {background-image: url("../images/group.png");display:inline-block;}
.adminTaskGrid tr.editorPreferencesTask .ico-task-preferences {background-image: url("../images/page_gear.png");display:inline-block;}
.adminTaskGrid tr.editorReopenTask .ico-task-reopen {background-image: url("../images/control_start.png");display:inline-block;}
.adminTaskGrid tr.editorDeleteTask .ico-task-delete {background-image: url("../images/page_delete.png");display:inline-block;}
.adminTaskGrid tr.editorShowexportmenuTask .ico-task-showexportmenu {background-image: url("../images/database_go.png");display:inline-block;}
.adminTaskGrid tr.pending .x-action-col-icon {display:none !important;}
.adminTaskGrid tr.pending td.state div {background: url("../images/loading_ico.gif") no-repeat 6px center;}

/* User Admin */
.gender-male {background: url("../images/user.png") no-repeat 6px center;}
.gender-female {background: url("../images/user_female.png") no-repeat 6px center;}
.ico-user-edit {background-image: url("../images/user_edit.png");}
.ico-user-save {background-image: url("../images/disk.png");}
.ico-user-delete {background-image: url("../images/user_delete.png");}
.ico-user-reset-pw {background-image: url("../images/lock_go.png");}
.ico-setting-save {background-image: url("../images/disk.png");}
.not-editable .ico-user-delete {display:none;}
.not-editable .ico-user-reset-pw {display:none;}

.x-action-col-cell img{height:16px;width:16px;margin-right:2px;cursor: pointer;}

#segment-grid .first-in-file td  {border-top-style: solid; border-top-width: 3px; border-top-color: #99BCE8;}
